// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
    height: 300px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-image {
    padding: 0.5rem;
    height: 200px;
    display: table-cell;
    vertical-align: middle;

    img {
        width: 100%;
        height: auto;
        max-height: 200px;
    }
}

.card-title {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    line-height: 50%;

    p {
        margin: 0.0rem 0rem 0.5rem 0rem;
    }

    a {
        font-size: 60%;
        color: black;
    }
}

.row .col {
    margin-top:     0rem;
    margin-left:    0rem;
    margin-bottom:  0rem;
    margin-left:    0rem;
    padding:        0rem;
}

.row {
    margin-bottom: 0rem;
}